<li><%= comment.content %><%= link_to "link to #{comment.content}",comment_url(comment) %></li>
<% if comment.child_comments.length > 0%>
  <ul><% comment.child_comments.each do |child_comment| %>
      <%= render "comments/comment", comment: child_comment %>
      <% end %>
  </ul>
<% end %>