<h1>All Subs</h1>
<ul>
  <% @subs.each do |sub| %>
    <li><%= link_to sub.title, sub_url(sub) %></li>
  <% end %>
</ul>
<br>
<% if current_user %>
  <%= link_to "Create a sub", new_sub_url %>
<h3>Back to user's profile</h3>
  <%= link_to "Back to user profile", user_url(current_user) %>
<% end %>